<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://epipi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>epipi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EpiPi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EpiPi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EPiServerAzureEvents" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=sb://epipicms.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=hl3wgX8xwM15zjFKaY7jDFEN5tDZ6bTaPUXAH/YaUMQ=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EPiServerAzureEvents_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Endpoint=sb://epipicms.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=hl3wgX8xwM15zjFKaY7jDFEN5tDZ6bTaPUXAH/YaUMQ=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EPiServerAzureBlobs" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=epipicms;AccountKey=6DnjGW5Y0flxuYLbWFWmRTSWQasy/1Wm/55r+6gqhcBDvEq2k0hjXChTd7wOBvmb/hUZ2BrZExqj5qH2XjTvdQ==;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EPiServerAzureBlobs_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=epipicms;AccountKey=6DnjGW5Y0flxuYLbWFWmRTSWQasy/1Wm/55r+6gqhcBDvEq2k0hjXChTd7wOBvmb/hUZ2BrZExqj5qH2XjTvdQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EPiServerDB" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:epipicms.database.windows.net,1433;Initial Catalog=EpiPicms;User ID=epipicms@epipicms.database.windows.net;Password=Splicer@1910" Name="Data Source=tcp:epipicms.database.windows.net,1433;Initial Catalog=EpiPicms;User Id=epipicms@epipicms.database.windows.net;Password=Splicer@1910" />
          <Object Type="DbDacFx" Enabled="False">
            <PreSource Path="Data Source=tcp:epipicms.database.windows.net,1433;Initial Catalog=EpiPicms;Persist Security Info=False;User ID=epipicms;Password=Splicer@1910;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EPiServerDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:epipicms.database.windows.net,1433;Initial Catalog=EpiPicms;Persist Security Info=False;User ID=epipicms;Password=Splicer@1910;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql">
            <Source Path="..\packages\EPiServer.CMS.Core.9.7.3\tools\EPiServer.Cms.Core.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EPiServerAzureBlobs-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EPiServerAzureEvents-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EPiServerDB-Web.config Connection String">
      <ParameterValue>data source=tcp:epipicms.database.windows.net,1433;initial catalog=EpiPicms;user id=epipicms@epipicms.database.windows.net;password=Splicer@1910;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>