@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EpiPi.Models.Pages.RPiPage

<
@{
    Layout = "~/Views/Shared/_root.cshtml";
}

<div class="row">
    <div class="jumbotron">
        <div class="container">
            <h1>@Html.PropertyFor(x => x.Heading)</h1>
            <p><img class="top-left img-responsive" src="@Model.Image" width="700" height="500" /> </p>
            <p> @Html.PropertyFor(x => x.MainBody)</p>
        </div>
    </div>
</div>